<template lang="pug">
div.grid-clients()
  .branc
  .message
  .usages
  resize-observer(@notify="handleResize")
</template>

<script>
export default {
  name: 'Client',
  props: { 'dna':String },
  components: {},
  methods: {},
  data: function () {
    return {
    }
  },
  methods: {
    handleResize() {
      this.$forceUpdate()
    }
  }    
}
</script>

<style scoped lang="stylus">
</style>