<template lang="pug">
div.grid-cryptowallet()
  .logo IMG
  .name BTC
  .address soaidhaiushdhqwiudgiashidhqiyuwhdashihdbgasgd9qw
  .min-amount 0.100
  resize-observer(@notify="handleResize")
</template>

<script>
export default {
  name: 'CryptoWallet',
  props: { 'dna':String },
  components: {},
  methods: {},
  data: function () {
    return {
    }
  },
  methods: {
    handleResize() {
      this.$forceUpdate()
    }
  }    
}
</script>

<style scoped lang="stylus">
.grid-cryptowallet
  color white
  grid-column 4 / span 4
  grid-row 3 / span 2
  display grid
  grid-template-columns repeat(20,5%)
  grid-template-rows repeat(1,100%)
  .logo
    grid-column 2 / span 3
    grid-row 1
  .name
    grid-column 1
    grid-row 1
  .address
    grid-column 5 / span 13
    grid-row 1
  .min-amount
    grid-column 18 / span 3
    grid-row 1
</style>