<template lang="pug">
div.grid-gallery()
  // div.grid-carousel-label
  //   a label
  // div.grid-carousel-focus
  //   img#carousel-focus(:src="slides[0]")
  // div.grid-carousel-choices
  //   img#carousel-choices(:src="slides[0]")      
  resize-observer(@notify="handleResize")
</template>

<script>
export default {
  name: 'Gallery',
  props: { 'dna':String },
  components: {},
  methods: {},
  data: function () {
    return {
      slides: [
      ]
    }
  },
  methods: {
    handleResize() {
      this.$forceUpdate()
    }
  }    
}
</script>

<style scoped lang="stylus">

// _desktop_ [  UHD  ]
@media (max-width: 3840px) and (max-height: 2160px)
  
  .grid-gallery
    grid-column 3 / span 6
    grid-row 3 / span 44
    display grid
    grid-template-columns repeat(1, 100%)
    grid-template-rows repeat(15, 5%)

    .grid-carousel-label
      grid-column 1
      grid-row 1
      display flex
      align-items center
      justify-content center
      font-size 250%

    .grid-carousel-focus
      grid-column 1
      grid-row 2 / span 13
      display grid
      grid-template-columns repeat(1, 100%)
      grid-template-rows repeat(1,100%)    

    .grid-carousel-choices      
      grid-column 1
      grid-row 15
      display grid
      grid-template-columns repeat(13, 7.6923076923076925%)
      grid-template-rows repeat(1,100%)

  #carousel-focus
    width 100%
  #carousel-choices
    width 100%


// _desktop_ [  QHD3  ]
@media (max-width: 3440px) and (max-height: 1440px)
  
  .grid-gallery
    grid-column 3 / span 6
    grid-row 4 / span 36
    display grid
    grid-template-columns repeat(1, 100%)
    grid-template-rows repeat(36,2.77%)

    .grid-carousel-label
      grid-column 1
      grid-row 1 / span 2
      display flex
      align-items center
      justify-content center
      font-size 250%

    .grid-carousel-focus
      grid-column 1
      grid-row 3 / span 28
      display grid
      grid-template-columns repeat(1, 100%)
      grid-template-rows repeat(1,100%)    

    .grid-carousel-choices      
      grid-column 1
      grid-row 33 / span 2
      display grid
      grid-template-columns repeat(13, 7.6923076923076925%)
      grid-template-rows repeat(1,100%)

  #carousel-focus
    width 100%
  #carousel-choices
    width 100%


// _desktop_ [  QHD2  ]
@media (max-width: 2560px) and (max-height: 1440px)
  
  .grid-gallery
    grid-column 3 / span 6
    grid-row 4 / span 36
    display grid
    grid-template-columns repeat(1, 100%)
    grid-template-rows repeat(36,2.77%)

    .grid-carousel-label
      grid-column 1
      grid-row 1 / span 2
      display flex
      align-items center
      justify-content center
      font-size 250%

    .grid-carousel-focus
      grid-column 1
      grid-row 3 / span 28
      display grid
      grid-template-columns repeat(1, 100%)
      grid-template-rows repeat(1,100%)    

    .grid-carousel-choices      
      grid-column 1
      grid-row 33 / span 2
      display grid
      grid-template-columns repeat(13, 7.6923076923076925%)
      grid-template-rows repeat(1,100%)

  #carousel-focus
    width 100%
  #carousel-choices
    width 100%


// _desktop_ [  UW-FHD  ]
@media (max-width: 2560px) and (max-height: 1080px)
  
  .grid-gallery
    grid-column 3 / span 6
    grid-row 4 / span 36
    display grid
    grid-template-columns repeat(1, 100%)
    grid-template-rows repeat(36,2.77%)

    .grid-carousel-label
      grid-column 1
      grid-row 1 / span 2
      display flex
      align-items center
      justify-content center
      font-size 250%

    .grid-carousel-focus
      grid-column 1
      grid-row 3 / span 28
      display grid
      grid-template-columns repeat(1, 100%)
      grid-template-rows repeat(1,100%)    

    .grid-carousel-choices      
      grid-column 1
      grid-row 33 / span 2
      display grid
      grid-template-columns repeat(13, 7.6923076923076925%)
      grid-template-rows repeat(1,100%)

  #carousel-focus
    width 100%
  #carousel-choices
    width 100%


// _desktop_ [  FHD  ]
@media (max-width: 1920px) and (max-height: 1080px)
  
  .grid-gallery
    grid-column 3 / span 6
    grid-row 4 / span 36
    display grid
    grid-template-columns repeat(1, 100%)
    grid-template-rows repeat(36,2.77%)

    .grid-carousel-label
      grid-column 1
      grid-row 1 / span 2
      display flex
      align-items center
      justify-content center
      font-size 250%

    .grid-carousel-focus
      grid-column 1
      grid-row 3 / span 28
      display grid
      grid-template-columns repeat(1, 100%)
      grid-template-rows repeat(1,100%)    

    .grid-carousel-choices      
      grid-column 1
      grid-row 33 / span 2
      display grid
      grid-template-columns repeat(13, 7.6923076923076925%)
      grid-template-rows repeat(1,100%)

  #carousel-focus
    width 100%
  #carousel-choices
    width 100%


// _mobile_ [  1  ]
@media (max-width: 1440px) and (max-height: 2960px)
  
  .grid-gallery
    grid-column 3 / span 6
    grid-row 4 / span 36
    display grid
    grid-template-columns repeat(1, 100%)
    grid-template-rows repeat(36,2.77%)

    .grid-carousel-label
      grid-column 1
      grid-row 1 / span 2
      display flex
      align-items center
      justify-content center
      font-size 250%

    .grid-carousel-focus
      grid-column 1
      grid-row 3 / span 28
      display grid
      grid-template-columns repeat(1, 100%)
      grid-template-rows repeat(1,100%)    

    .grid-carousel-choices      
      grid-column 1
      grid-row 33 / span 2
      display grid
      grid-template-columns repeat(13, 7.6923076923076925%)
      grid-template-rows repeat(1,100%)

  #carousel-focus
    width 100%
  #carousel-choices
    width 100%


// _mobile_ [  2  ]
@media (max-width: 1440px) and (max-height: 2560px)
  
  .grid-gallery
    grid-column 3 / span 6
    grid-row 4 / span 36
    display grid
    grid-template-columns repeat(1, 100%)
    grid-template-rows repeat(36,2.77%)

    .grid-carousel-label
      grid-column 1
      grid-row 1 / span 2
      display flex
      align-items center
      justify-content center
      font-size 250%

    .grid-carousel-focus
      grid-column 1
      grid-row 3 / span 28
      display grid
      grid-template-columns repeat(1, 100%)
      grid-template-rows repeat(1,100%)    

    .grid-carousel-choices      
      grid-column 1
      grid-row 33 / span 2
      display grid
      grid-template-columns repeat(13, 7.6923076923076925%)
      grid-template-rows repeat(1,100%)

  #carousel-focus
    width 100%
  #carousel-choices
    width 100%


// _mobile_ [  3  ]
@media (max-width: 1125px) and (max-height: 2436px)
  
  .grid-gallery
    grid-column 3 / span 6
    grid-row 4 / span 36
    display grid
    grid-template-columns repeat(1, 100%)
    grid-template-rows repeat(36,2.77%)

    .grid-carousel-label
      grid-column 1
      grid-row 1 / span 2
      display flex
      align-items center
      justify-content center
      font-size 250%

    .grid-carousel-focus
      grid-column 1
      grid-row 3 / span 28
      display grid
      grid-template-columns repeat(1, 100%)
      grid-template-rows repeat(1,100%)    

    .grid-carousel-choices      
      grid-column 1
      grid-row 33 / span 2
      display grid
      grid-template-columns repeat(13, 7.6923076923076925%)
      grid-template-rows repeat(1,100%)

  #carousel-focus
    width 100%
  #carousel-choices
    width 100%


// _mobile_ [  4  ]
@media (max-width: 1080px) and (max-height: 2160px)
  
  .grid-gallery
    grid-column 3 / span 6
    grid-row 4 / span 36
    display grid
    grid-template-columns repeat(1, 100%)
    grid-template-rows repeat(36,2.77%)

    .grid-carousel-label
      grid-column 1
      grid-row 1 / span 2
      display flex
      align-items center
      justify-content center
      font-size 250%

    .grid-carousel-focus
      grid-column 1
      grid-row 3 / span 28
      display grid
      grid-template-columns repeat(1, 100%)
      grid-template-rows repeat(1,100%)    

    .grid-carousel-choices      
      grid-column 1
      grid-row 33 / span 2
      display grid
      grid-template-columns repeat(13, 7.6923076923076925%)
      grid-template-rows repeat(1,100%)

  #carousel-focus
    width 100%
  #carousel-choices
    width 100%


// _mobile_ [  5  ]
@media (max-width: 1080px) and (max-height: 1920px)
  
  .grid-gallery
    grid-column 3 / span 6
    grid-row 4 / span 36
    display grid
    grid-template-columns repeat(1, 100%)
    grid-template-rows repeat(36,2.77%)

    .grid-carousel-label
      grid-column 1
      grid-row 1 / span 2
      display flex
      align-items center
      justify-content center
      font-size 250%

    .grid-carousel-focus
      grid-column 1
      grid-row 3 / span 28
      display grid
      grid-template-columns repeat(1, 100%)
      grid-template-rows repeat(1,100%)    

    .grid-carousel-choices      
      grid-column 1
      grid-row 33 / span 2
      display grid
      grid-template-columns repeat(13, 7.6923076923076925%)
      grid-template-rows repeat(1,100%)

  #carousel-focus
    width 100%
  #carousel-choices
    width 100%


// _mobile_ [  6  ]
@media (max-width: 720px) and (max-height: 1440px)
  
  .grid-gallery
    grid-column 3 / span 6
    grid-row 4 / span 36
    display grid
    grid-template-columns repeat(1, 100%)
    grid-template-rows repeat(36,2.77%)

    .grid-carousel-label
      grid-column 1
      grid-row 1 / span 2
      display flex
      align-items center
      justify-content center
      font-size 250%

    .grid-carousel-focus
      grid-column 1
      grid-row 3 / span 28
      display grid
      grid-template-columns repeat(1, 100%)
      grid-template-rows repeat(1,100%)    

    .grid-carousel-choices      
      grid-column 1
      grid-row 33 / span 2
      display grid
      grid-template-columns repeat(13, 7.6923076923076925%)
      grid-template-rows repeat(1,100%)

  #carousel-focus
    width 100%
  #carousel-choices
    width 100%


// _mobile_ [  7  ]
@media (max-width: 750px) and (max-height: 1334px)
  
  .grid-gallery
    grid-column 3 / span 6
    grid-row 4 / span 36
    display grid
    grid-template-columns repeat(1, 100%)
    grid-template-rows repeat(36,2.77%)

    .grid-carousel-label
      grid-column 1
      grid-row 1 / span 2
      display flex
      align-items center
      justify-content center
      font-size 250%

    .grid-carousel-focus
      grid-column 1
      grid-row 3 / span 28
      display grid
      grid-template-columns repeat(1, 100%)
      grid-template-rows repeat(1,100%)    

    .grid-carousel-choices      
      grid-column 1
      grid-row 33 / span 2
      display grid
      grid-template-columns repeat(13, 7.6923076923076925%)
      grid-template-rows repeat(1,100%)

  #carousel-focus
    width 100%
  #carousel-choices
    width 100%


// _mobile_ [  8  ]
@media (max-width: 720px) and (max-height: 1280px)
  
  .grid-gallery
    grid-column 3 / span 6
    grid-row 4 / span 36
    display grid
    grid-template-columns repeat(1, 100%)
    grid-template-rows repeat(36,2.77%)

    .grid-carousel-label
      grid-column 1
      grid-row 1 / span 2
      display flex
      align-items center
      justify-content center
      font-size 250%

    .grid-carousel-focus
      grid-column 1
      grid-row 3 / span 28
      display grid
      grid-template-columns repeat(1, 100%)
      grid-template-rows repeat(1,100%)    

    .grid-carousel-choices      
      grid-column 1
      grid-row 33 / span 2
      display grid
      grid-template-columns repeat(13, 7.6923076923076925%)
      grid-template-rows repeat(1,100%)

  #carousel-focus
    width 100%
  #carousel-choices
    width 100%


// _mobile_ [  9  ]
@media (max-width: 640px) and (max-height: 1136px)
  
  .grid-gallery
    grid-column 3 / span 6
    grid-row 4 / span 36
    display grid
    grid-template-columns repeat(1, 100%)
    grid-template-rows repeat(36,2.77%)

    .grid-carousel-label
      grid-column 1
      grid-row 1 / span 2
      display flex
      align-items center
      justify-content center
      font-size 250%

    .grid-carousel-focus
      grid-column 1
      grid-row 3 / span 28
      display grid
      grid-template-columns repeat(1, 100%)
      grid-template-rows repeat(1,100%)    

    .grid-carousel-choices      
      grid-column 1
      grid-row 33 / span 2
      display grid
      grid-template-columns repeat(13, 7.6923076923076925%)
      grid-template-rows repeat(1,100%)

  #carousel-focus
    width 100%
  #carousel-choices
    width 100%


// _mobile_ [  10  ]
@media (max-width: 540px) and (max-height: 960px)
  
  .grid-gallery
    grid-column 3 / span 6
    grid-row 4 / span 36
    display grid
    grid-template-columns repeat(1, 100%)
    grid-template-rows repeat(36,2.77%)

    .grid-carousel-label
      grid-column 1
      grid-row 1 / span 2
      display flex
      align-items center
      justify-content center
      font-size 250%

    .grid-carousel-focus
      grid-column 1
      grid-row 3 / span 28
      display grid
      grid-template-columns repeat(1, 100%)
      grid-template-rows repeat(1,100%)    

    .grid-carousel-choices      
      grid-column 1
      grid-row 33 / span 2
      display grid
      grid-template-columns repeat(13, 7.6923076923076925%)
      grid-template-rows repeat(1,100%)

  #carousel-focus
    width 100%
  #carousel-choices
    width 100%


</style>