<template lang="pug">
div.grids
  TopBar(dna='topbar-saturn_soul')
  // Gallery(dna='gallery-saturn_soul')
  // CryptoWallet(dna='cryptowallet-btc')
  Project(dna='project-tplt')
</template>

<script>
import TopBar from './topbar.vue'
import Gallery from './gallery.vue'
import CryptoWallet from './cryptowallet.vue'
import Project from './project.vue'

export default {
  name: 'Grid',
  components: {
    TopBar,
    Gallery,
    CryptoWallet,
    Project
  },
  methods: {},
}
</script>

<style scoped lang="stylus">
.grids
  display: grid
  grid-template-columns: repeat(10,10vw)
  grid-template-rows: repeat(200,2.5vh)
</style>