<template lang="pug">
div.grid-project()
  .logo Logo
  .name Name
  .url Https://asdohqwodhiashduioashdhqa.asidha
  .status Dev
  .time 20H
  .version 0.0.1
  .repo Gitlab
  resize-observer(@notify="handleResize")
</template>

<script>
export default {
  name: 'Project',
  props: { 'dna':String },
  components: {},
  methods: {},
  data: function () {
    return {
    }
  },
  methods: {
    handleResize() {
      this.$forceUpdate()
    }
  }    
}
</script>

<style scoped lang="stylus">
.grid-project
  color white
  grid-column 3 / span 6
  grid-row 3 / span 5
  display grid
  grid-template-columns repeat(20,5%)
  grid-template-rows repeat(10,10%)
  .logo
    grid-column 1 / span 4
    grid-row 1 / span 10
  .name
    grid-column 5 / span 3
    grid-row 1 / span 5
  .url
    grid-column 8 / span 13
    grid-row 1 / span 5
  .status
    grid-column 5 / span 4
    grid-row 6 / span 5
  .time
    grid-column 9 / span 4
    grid-row 6 / span 5
  .version  
    grid-column 13 / span 4
    grid-row 6 / span 5
  .repo
    grid-column 17 / span 4
    grid-row 6 / span 5
</style>