<template lang="pug">
div.grid-radio()
  .visual
  .wave
  .controls
  .informations
  .links
  .program
  resize-observer(@notify="handleResize")
</template>

<script>
export default {
  name: 'Radio',
  props: { 'dna':String },
  components: {},
  methods: {},
  data: function () {
    return {
    }
  },
  methods: {
    handleResize() {
      this.$forceUpdate()
    }
  }    
}
</script>

<style scoped lang="stylus">
</style>