<template lang="pug">

div.grid-topbar#gtp

  div.logo
    div.neon
      span.text(data-text="SATURN SOUL") SATURN SOUL
      span.gradient
      span.spotlight

  div.continents
    a#africa.cssfx1 AFRICA
    a#america.cssfx1 AMERICA
    a#asia.cssfx1 ASIA
    a#europa.cssfx1 EUROPA
    a#orient.cssfx1 ORIENT
    a#oceania.cssfx1 OCEANIA

  resize-observer(@notify="handleResize")
</template>

<script>
export default {
  name: 'TopBar',
  props: { 'dna':String },
  components: {},
  methods: {},
  data: function () {
    return {

    }
  },
  methods: {
    handleResize() {
      this.$forceUpdate()
      const gtp = document.getElementById('gtp')
      console.log(gtp)
    }
  },
}
</script>

<style scoped lang="stylus">

// _library
$g1           = radial-gradient(circle, #ffffff, #ffffff, #fffefe, #fffefe, #fffdfd, #fffdfc, #fffcfc, #fffcfb, #fffcfb, #fffdfb, #fffdfc, #fffdfc)

// _variables
$css-fx1-bg   = $g1
$css-fx1-c    = #000140
$css-fx1-bg-h = #0006FF
$css-fx1-c-h  = #FFFFFF
// _globals 
a.cssfx1
  z-index: 1
  position: relative
  font-size: 166%
  font-family: inherit
  color: white
  outline: none
  border: none
  background-image: $css-fx1-bg
  color: $css-fx1-c
  overflow: hidden
  transition: color 0.4s ease-in-out
  display: flex
  align-items: center
  justify-content: center

a.cssfx1::before 
  content: ''
  z-index: -1
  position: absolute
  top: 50%
  left: 50%
  width: 100%
  height: 100%
  background-color: $css-fx1-bg-h
  transform-origin: center
  transform: translate3d(-50%, -50%, 0) scale3d(0, 0, 0)
  transition: transform 0.45s ease-in-out

a.cssfx1:hover 
  cursor: pointer
  font-size: 188%
  color: $css-fx1-c-h

a.cssfx1:hover::before 
  transform: translate3d(-50%, -50%, 0) scale3d(15, 15, 15)

// _desktop_ [  UHD  ]
@media (max-width: 3840px) 
  .grid-topbar
    --test blue
    display: grid
    grid-column: 2 / span 8
    grid-row: 1
    grid-template-columns: repeat(10,10%)
    grid-template-rows: repeat(1,100%)

    .logo
      grid-column: 1 / span 3
      grid-row: 1 / span 2
      display: grid
      grid-template-columns: repeat(1,100%)
      font-size: 180%
      .neon
        overflow: hidden
        filter: brightness(200%)
        display: flex
        align-items: center
        justify-content: center
      .text
          background-color: black
          color: white
          font-weight: bold
          font-family: sans-serif
          text-transform: uppercase
          user-select: none
          font-size: 150%
          display: flex
          align-items: center
          justify-content: center
          width: 100%
          height: 100%
      .text::before
          content: attr(data-text)
          position: absolute
          color: white
          filter: blur(0.016em)
          mix-blend-mode: difference
      .gradient
          background: linear-gradient(45deg, red, gold, lightgreen, gold, red)
          top: 0
          left: 0
          right: 0
          bottom: 0
          mix-blend-mode: multiply
          display: flex
          align-items: center
          justify-content: center        
      .spotlight 
          position: absolute
          top: -100%
          left: -100%
          right: 0
          bottom: 0
          background: 
            radial-gradient(
                circle,
                #000140,
                transparent 25%
            ) center / 25% 25%,
            radial-gradient(
                circle,
                #0006FF,
                black 25%
            ) center / 12.5% 12.5%
          animation: light 5s linear infinite
          mix-blend-mode: color-dodge
      @keyframes light
        to
          transform: translate(50%, 50%)

    .continents
      grid-column: 4 / span 6
      grid-row: 1 / span 2
      display: grid
      grid-template-columns: repeat(6, 16.66666666666667%)
      font-size: 75%
      color white
      a#africa
        grid-column 1
      a#america
        grid-column 2
      a#asia
        grid-column 3
      a#europa
        grid-column 4
      a#orient
        grid-column 5
      a#oceania
        grid-column 6

    .networks
      grid-column: 10
      grid-row: 1 / span 2
      display: grid
      grid-template-columns: repeat(2, 50%)

    #nw
      display: flex
      align-items: center
      justify-content: center
    #ig, #fb
      width: 20%
      
</style>