<template lang="pug">
Grid
</template>

<script>
import { mapGetters } from 'vuex'
import Grid from './grid.vue'
export default {
  name: 'RootView',
  components: { Grid },
  created(){
    this.$store.commit('__init__')
  },
}
</script>

<style scoped lang="stylus">
</style>