<template lang="pug">
div.autocomplete
  input(placeholder="<type-&-search>" @focus="focus" @mousehover="hover" @mouseleave="leave" @update="update")
  <span class="bottom"></span>
  <span class="right"></span>
  <span class="top"></span>
  <span class="left"></span>
  // .results#results
  //   .result(v-for="result in results")
  //     | {{result}}
</template>
// <!-- topbar -->
// div.grid-page(:style="$store.getters.page_style")
  // elements

<script>

export default {
  name: 'autocomplete',
  data: function() {
      return {
        results: [
        ],
      }
  },
  components: {},
  methods: {
    focus(event) {
      console.log('focus')

    },
    leave(event) {
      console.log('leave')
    },
    hover(event) {
      console.log('hover')

    },
    update(event) {
      console.log('update')
    }
  },
}
</script>

<style scoped lang="stylus">
.autocomplete
  display: grid
  grid-template-columns: repeat(10, 10%)
  grid-template-rows: repeat(1,100%)
  input
    grid-column: 1 / span 10
    grid-row: 1
    font-size: 200%
    text-align center
    border none
  .results
    grid-column: 1 / span 10
    grid-row: 2 / span 2
    display: grid
    grid-template-rows: repeat(auto, 1%)
    .result
      text-align center
      display: flex
      align-items: center
      justify-content: center
      font-size 150%
      &:hover
        background-color black
        color white
        font-size 200%


  input {
    transition: background-color 0.3s ease-in-out;
  }

  input:focus {
    outline: none;
  }

  input::placeholder {
    color: hsla(0, 0%, 100%, 0.6);
  }

  span {
    position: absolute;
    background-color: black;
    transform-origin: center;
    transition: transform 0.5s ease;
  }

  .bottom,
  .top {
    height: 1px;
    left: 0;
    right: 0;
    transform: scaleX(0);
  }

  .left,
  .right {
    width: 1px;
    top: 0;
    bottom: 0;
    transform: scaleY(0);
  }

  .top {
    top: 0;
  }

  .bottom {
    bottom: 0;
  }

  .left {
    left: 0;
  }

  .right {
    right: 0;
  }

  input:focus ~ .top, input:focus ~ .bottom {
    transform: scaleX(1);
  }

  input:focus ~ .left, input:focus ~ .right {
    transform: scaleY(1);
  }
</style>