<template lang="pug">
<!-- topnav -->
div.grid-topnav(:style="$store.state.grid.topnav.style")
  a(
    v-for="txt in $store.state.grid.topnav.content"
    :style="$store.state.grid.topnav.content_style"
    :id="txt.toLowerCase().replace(/ /g,`_`)"
    @mouseover="$store.commit('over', $event)"
    @mouseleave="$store.commit('leave', $event)"
    @click="$store.commit('clicked', $event)"
  ) {{txt}}
</template>

<script>
export default {
  name: 'TopNav',
  components: {},
  methods: {},
}
</script>

<style scoped lang="stylus">
.grid-topnav
  margin-top: 1vh;
</style>