<template lang="pug">
div.aendlyx-tech-productions
    div#overlay
      div#overlay2
        a#saturn_soul SATURN SOUL
        a#peace_harmony_creativy PEACE HARMONY CREATIVITY
        a#gaia Gaïa
    transition(name="fade")
    router-view
    resize-observer(@notify="handleResize")
</template>

<script>

export default {
  name: "App",
  mounted() {
    document.title="SATURN SOUL | Gaïa"
    var overlay = document.getElementById('overlay')
    window.setTimeout(function() {
      overlay.classList.add('animate')
    }, 2000)
  },
  methods: {
    handleResize() {
      console.log(`
        H [ ${window.innerHeight} ] X W [ ${window.innerWidth} ]
      `)
      this.$forceUpdate()
    }
  }
}

</script>

<style lang="stylus">

@import url('https://fonts.googleapis.com/css?family=Domine&display=swap')

*
  user-select none

html, body
  margin auto
  padding 0
  -webkit-font-smoothing: antialiased
  overflow-x hidden
  -webkit-tap-highlight-color: rgba(0,0,0,0.4);
  font-family: 'Domine', serif
  background-color black

#overlay 
  display block
  pointer-events none
  position absolute
  top 0
  width 100%
  height 100%
  z-index 9999
  transition all 1s ease
  color white
  display flex
  justify-content center
  align-items center
  text-align center
  background-color black

#overlay2
  display grid
  grid-template-columns repeat(1, 100%)
  grid-template-rows repeat(3, 33.3%)
  row-gap 3vh
  #saturn_soul
    grid-row 1
    font-size: 300%
    letter-spacing: 10px
  #peace_harmony_creativity
    grid-row 2
    font-size: 250%
    letter-spacing: 6px
  #gaia
    grid-row 3
    font-size: 100%
    letter-spacing: 2px
  transition: all 0.5s ease

.animate
  opacity: 0
  span
    letter-spacing: 20px

.fade-enter-active, .fade-leave-active 
  transition: opacity 0.2s

</style>